In [3]:
#Importando Bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np
import os, sys
import time

#Importando BiBliotecas DASK  (alternativa ao Pandas)
import dask.dataframe as dd

#Otimizador Giovanni
from sklearnex import patch_sklearn 
patch_sklearn()


CSV_PATH = "/home/gi/Desktop/Semestre8/Inteligencia_Computacional/TP1_csvs" # Path Giovanni
# CSV_PATH = "E:/Documentos/CEFET/OneDrive/Documentos/2ECOM067_INTELIGENCIA-COMPUTACIONAL-I_T01/TP1/bases/" # Path Jorge

import warnings
warnings.simplefilter("ignore")
#Carregando Base de dados principal
df_test  = pd.read_csv(f"{CSV_PATH}/application_test.csv")
df_train = pd.read_csv(f"{CSV_PATH}/application_train.csv")

# Fazendo o merge com os dados auxiliares
df_auxiliar_bureau                          = pd.read_csv(f"{CSV_PATH}/bureau.csv")
df_auxiliar_bureau_balance                  = pd.read_csv(f"{CSV_PATH}/bureau_balance.csv")
df_auxiliar_previous_application            = pd.read_csv(f"{CSV_PATH}/previous_application.csv")
df_auxiliar_POS_CASH_balance                = pd.read_csv(f"{CSV_PATH}/POS_CASH_balance.csv")
df_auxiliar_installments_payments           = pd.read_csv(f"{CSV_PATH}/installments_payments.csv")
df_auxiliar_credit_card_balances            = pd.read_csv(f"{CSV_PATH}/credit_card_balance.csv")


#df_train = df_train.sample(frac=0.10, random_state=42)  # Seleciona 10% do DataFrame de treino
df_train = df_train.join(df_auxiliar_bureau, on='SK_ID_CURR', lsuffix = '_duplicate', how='left')
df_train = df_train.join(df_auxiliar_bureau_balance, on='SK_ID_BUREAU', lsuffix = '_duplicate2', how='left')
df_train = df_train.join(df_auxiliar_previous_application, on='SK_ID_CURR', lsuffix = '_duplicate3', how='left')
df_train = df_train.join(df_auxiliar_POS_CASH_balance, on='SK_ID_PREV', lsuffix = '_duplicate4', how='left')
df_train = df_train.join(df_auxiliar_installments_payments, on='SK_ID_PREV', lsuffix = '_duplicate5', how='left')
df_train = df_train.join(df_auxiliar_credit_card_balances, on='SK_ID_PREV', lsuffix = '_duplicate6', how='left')

#Dropando colunas duplicadas
sufixos = ['_duplicate', '_duplicate2', '_duplicate3', '_duplicate4', '_duplicate5', '_duplicate6']
df_train = df_train.loc[:, ~df_train.columns.str.endswith(tuple(sufixos))]


# Removendo caracteres especiais das colunas
import re
df_train.columns = [re.sub(r'[^\w]', '', col) for col in df_train.columns]

# Salvando o DataFrame resultante em um arquivo CSV
df_train.to_csv(f"df_train_full.csv", index=False)
print(df_train.shape)

Intel(R) Extension for Scikit-learn* enabled (https://github.com/uxlfoundation/scikit-learn-intelex)

(307511, 195)

In [4]:
df_train.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 195 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    TARGET                        307511 non-null  int64
 1    CODE_GENDER                   307511 non-null  object
 2    FLAG_OWN_CAR                  307511 non-null  object
 3    FLAG_OWN_REALTY               307511 non-null  object
 4    CNT_CHILDREN                  307511 non-null  int64
 5    AMT_INCOME_TOTAL              307511 non-null  float64
 6    NAME_INCOME_TYPE              307511 non-null  object
 7    NAME_EDUCATION_TYPE           307511 non-null  object
 8    NAME_FAMILY_STATUS            307511 non-null  object
 9    NAME_HOUSING_TYPE             307511 non-null  object
 10   REGION_POPULATION_RELATIVE    307511 non-null  float64
 11   DAYS_BIRTH                    307511 non-null  int64
 12   DAYS_EMPLOYED                 307511 non-null  int64
 13   DAYS_REGISTRATION             307511 non-null  float64
 14   DAYS_ID_PUBLISH               307511 non-null  int64
 15   OWN_CAR_AGE                   104582 non-null  float64
 16   FLAG_MOBIL                    307511 non-null  int64
 17   FLAG_EMP_PHONE                307511 non-null  int64
 18   FLAG_WORK_PHONE               307511 non-null  int64
 19   FLAG_CONT_MOBILE              307511 non-null  int64
 20   FLAG_PHONE                    307511 non-null  int64
 21   FLAG_EMAIL                    307511 non-null  int64
 22   OCCUPATION_TYPE               211120 non-null  object
 23   CNT_FAM_MEMBERS               307509 non-null  float64
 24   REGION_RATING_CLIENT          307511 non-null  int64
 25   REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 26   REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 27   REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 28   LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 29   REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 30   REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 31   LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 32   ORGANIZATION_TYPE             307511 non-null  object
 33   EXT_SOURCE_1                  134133 non-null  float64
 34   EXT_SOURCE_2                  306851 non-null  float64
 35   EXT_SOURCE_3                  246546 non-null  float64
 36   APARTMENTS_AVG                151450 non-null  float64
 37   BASEMENTAREA_AVG              127568 non-null  float64
 38   YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 39   YEARS_BUILD_AVG               103023 non-null  float64
 40   COMMONAREA_AVG                92646 non-null   float64
 41   ELEVATORS_AVG                 143620 non-null  float64
 42   ENTRANCES_AVG                 152683 non-null  float64
 43   FLOORSMAX_AVG                 154491 non-null  float64
 44   FLOORSMIN_AVG                 98869 non-null   float64
 45   LANDAREA_AVG                  124921 non-null  float64
 46   LIVINGAPARTMENTS_AVG          97312 non-null   float64
 47   LIVINGAREA_AVG                153161 non-null  float64
 48   NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 49   NONLIVINGAREA_AVG             137829 non-null  float64
 50   APARTMENTS_MODE               151450 non-null  float64
 51   BASEMENTAREA_MODE             127568 non-null  float64
 52   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 53   YEARS_BUILD_MODE              103023 non-null  float64
 54   COMMONAREA_MODE               92646 non-null   float64
 55   ELEVATORS_MODE                143620 non-null  float64
 56   ENTRANCES_MODE                152683 non-null  float64
 57   FLOORSMAX_MODE                154491 non-null  float64
 58   FLOORSMIN_MODE                98869 non-null   float64
 59   LANDAREA_MODE                 124921 non-null  float64
 60   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 61   LIVINGAREA_MODE               153161 non-null  float64
 62   NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 63   NONLIVINGAREA_MODE            137829 non-null  float64
 64   APARTMENTS_MEDI               151450 non-null  float64
 65   BASEMENTAREA_MEDI             127568 non-null  float64
 66   YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 67   YEARS_BUILD_MEDI              103023 non-null  float64
 68   COMMONAREA_MEDI               92646 non-null   float64
 69   ELEVATORS_MEDI                143620 non-null  float64
 70   ENTRANCES_MEDI                152683 non-null  float64
 71   FLOORSMAX_MEDI                154491 non-null  float64
 72   FLOORSMIN_MEDI                98869 non-null   float64
 73   LANDAREA_MEDI                 124921 non-null  float64
 74   LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 75   LIVINGAREA_MEDI               153161 non-null  float64
 76   NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 77   NONLIVINGAREA_MEDI            137829 non-null  float64
 78   FONDKAPREMONT_MODE            97216 non-null   object
 79   HOUSETYPE_MODE                153214 non-null  object
 80   TOTALAREA_MODE                159080 non-null  float64
 81   WALLSMATERIAL_MODE            151170 non-null  object
 82   EMERGENCYSTATE_MODE           161756 non-null  object
 83   OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 84   DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 85   OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 86   DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 87   DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 88   FLAG_DOCUMENT_2               307511 non-null  int64
 89   FLAG_DOCUMENT_3               307511 non-null  int64
 90   FLAG_DOCUMENT_4               307511 non-null  int64
 91   FLAG_DOCUMENT_5               307511 non-null  int64
 92   FLAG_DOCUMENT_6               307511 non-null  int64
 93   FLAG_DOCUMENT_7               307511 non-null  int64
 94   FLAG_DOCUMENT_8               307511 non-null  int64
 95   FLAG_DOCUMENT_9               307511 non-null  int64
 96   FLAG_DOCUMENT_10              307511 non-null  int64
 97   FLAG_DOCUMENT_11              307511 non-null  int64
 98   FLAG_DOCUMENT_12              307511 non-null  int64
 99   FLAG_DOCUMENT_13              307511 non-null  int64
 100  FLAG_DOCUMENT_14              307511 non-null  int64
 101  FLAG_DOCUMENT_15              307511 non-null  int64
 102  FLAG_DOCUMENT_16              307511 non-null  int64
 103  FLAG_DOCUMENT_17              307511 non-null  int64
 104  FLAG_DOCUMENT_18              307511 non-null  int64
 105  FLAG_DOCUMENT_19              307511 non-null  int64
 106  FLAG_DOCUMENT_20              307511 non-null  int64
 107  FLAG_DOCUMENT_21              307511 non-null  int64
 108  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 109  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 110  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 111  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 112  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 113  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
 114  CREDIT_ACTIVE                 307511 non-null  object
 115  CREDIT_CURRENCY               307511 non-null  object
 116  DAYS_CREDIT                   307511 non-null  int64
 117  CREDIT_DAY_OVERDUE            307511 non-null  int64
 118  DAYS_CREDIT_ENDDATE           288300 non-null  float64
 119  DAYS_ENDDATE_FACT             194708 non-null  float64
 120  AMT_CREDIT_MAX_OVERDUE        103089 non-null  float64
 121  CNT_CREDIT_PROLONG            307511 non-null  int64
 122  AMT_CREDIT_SUM                307509 non-null  float64
 123  AMT_CREDIT_SUM_DEBT           261476 non-null  float64
 124  AMT_CREDIT_SUM_LIMIT          199729 non-null  float64
 125  AMT_CREDIT_SUM_OVERDUE        307511 non-null  float64
 126  CREDIT_TYPE                   307511 non-null  object
 127  DAYS_CREDIT_UPDATE            307511 non-null  int64
 128  SK_ID_BUREAU                  307511 non-null  int64
 129  STATUS                        307511 non-null  object
 130  NAME_CONTRACT_TYPE            307511 non-null  object
 131  AMT_ANNUITY                   238991 non-null  float64
 132  AMT_APPLICATION               307511 non-null  float64
 133  AMT_CREDIT                    307511 non-null  float64
 134  AMT_DOWN_PAYMENT              143006 non-null  float64
 135  AMT_GOODS_PRICE               236206 non-null  float64
 136  WEEKDAY_APPR_PROCESS_START    307511 non-null  object
 137  HOUR_APPR_PROCESS_START       307511 non-null  int64
 138  FLAG_LAST_APPL_PER_CONTRACT   307511 non-null  object
 139  NFLAG_LAST_APPL_IN_DAY        307511 non-null  int64
 140  RATE_DOWN_PAYMENT             143006 non-null  float64
 141  RATE_INTEREST_PRIMARY         1110 non-null    float64
 142  RATE_INTEREST_PRIVILEGED      1110 non-null    float64
 143  NAME_CASH_LOAN_PURPOSE        307511 non-null  object
 144  DAYS_DECISION                 307511 non-null  int64
 145  NAME_PAYMENT_TYPE             307511 non-null  object
 146  CODE_REJECT_REASON            307511 non-null  object
 147  NAME_TYPE_SUITE               156559 non-null  object
 148  NAME_CLIENT_TYPE              307511 non-null  object
 149  NAME_GOODS_CATEGORY           307511 non-null  object
 150  NAME_PORTFOLIO                307511 non-null  object
 151  NAME_PRODUCT_TYPE             307511 non-null  object
 152  CHANNEL_TYPE                  307511 non-null  object
 153  SELLERPLACE_AREA              307511 non-null  int64
 154  NAME_SELLER_INDUSTRY          307511 non-null  object
 155  CNT_PAYMENT                   238991 non-null  float64
 156  NAME_YIELD_GROUP              307511 non-null  object
 157  PRODUCT_COMBINATION           307417 non-null  object
 158  DAYS_FIRST_DRAWING            183108 non-null  float64
 159  DAYS_FIRST_DUE                183108 non-null  float64
 160  DAYS_LAST_DUE_1ST_VERSION     183108 non-null  float64
 161  DAYS_LAST_DUE                 183108 non-null  float64
 162  DAYS_TERMINATION              183108 non-null  float64
 163  NFLAG_INSURED_ON_APPROVAL     183108 non-null  float64
 164  CNT_INSTALMENT                307021 non-null  float64
 165  CNT_INSTALMENT_FUTURE         307021 non-null  float64
 166  NUM_INSTALMENT_VERSION        307511 non-null  float64
 167  NUM_INSTALMENT_NUMBER         307511 non-null  int64
 168  DAYS_INSTALMENT               307511 non-null  float64
 169  DAYS_ENTRY_PAYMENT            307511 non-null  float64
 170  AMT_INSTALMENT                307511 non-null  float64
 171  AMT_PAYMENT                   307511 non-null  float64
 172  SK_ID_PREV                    307511 non-null  int64
 173  SK_ID_CURR                    307511 non-null  int64
 174  MONTHS_BALANCE                307511 non-null  int64
 175  AMT_BALANCE                   307511 non-null  float64
 176  AMT_CREDIT_LIMIT_ACTUAL       307511 non-null  int64
 177  AMT_DRAWINGS_ATM_CURRENT      246575 non-null  float64
 178  AMT_DRAWINGS_CURRENT          307511 non-null  float64
 179  AMT_DRAWINGS_OTHER_CURRENT    246575 non-null  float64
 180  AMT_DRAWINGS_POS_CURRENT      246575 non-null  float64
 181  AMT_INST_MIN_REGULARITY       283440 non-null  float64
 182  AMT_PAYMENT_CURRENT           245286 non-null  float64
 183  AMT_PAYMENT_TOTAL_CURRENT     307511 non-null  float64
 184  AMT_RECEIVABLE_PRINCIPAL      307511 non-null  float64
 185  AMT_RECIVABLE                 307511 non-null  float64
 186  AMT_TOTAL_RECEIVABLE          307511 non-null  float64
 187  CNT_DRAWINGS_ATM_CURRENT      246575 non-null  float64
 188  CNT_DRAWINGS_CURRENT          307511 non-null  int64
 189  CNT_DRAWINGS_OTHER_CURRENT    246575 non-null  float64
 190  CNT_DRAWINGS_POS_CURRENT      246575 non-null  float64
 191  CNT_INSTALMENT_MATURE_CUM     283440 non-null  float64
 192  NAME_CONTRACT_STATUS          307511 non-null  object
 193  SK_DPD                        307511 non-null  int64
 194  SK_DPD_DEF                    307511 non-null  int64
dtypes: float64(106), int64(56), object(33)
memory usage: 457.5+ MB

In [6]:
# Criando csv completo de teste
df_test = df_test.join(df_auxiliar_bureau, on='SK_ID_CURR', lsuffix = '_duplicate', how='left')
df_test = df_test.join(df_auxiliar_bureau_balance, on='SK_ID_BUREAU', lsuffix = '_duplicate2', how='left')
df_test = df_test.join(df_auxiliar_previous_application, on='SK_ID_CURR', lsuffix = '_duplicate3', how='left')
df_test = df_test.join(df_auxiliar_POS_CASH_balance, on='SK_ID_PREV', lsuffix = '_duplicate4', how='left')
df_test = df_test.join(df_auxiliar_installments_payments, on='SK_ID_PREV', lsuffix = '_duplicate5', how='left')
df_test = df_test.join(df_auxiliar_credit_card_balances, on='SK_ID_PREV', lsuffix = '_duplicate6', how='left')

#Dropando colunas duplicadas
sufixos = ['_duplicate', '_duplicate2', '_duplicate3', '_duplicate4', '_duplicate5', '_duplicate6']
df_test = df_test.loc[:, ~df_test.columns.str.endswith(tuple(sufixos))]

# Removendo caracteres especiais das colunas
df_test.columns = [re.sub(r'[^\w]', '', col) for col in df_test.columns]

# Criando csv completo de teste
df_test.to_csv(f"df_test.csv", index=False)
print(df_test.shape)

(48744, 194)

In [7]:
df_test.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 194 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    CODE_GENDER                   48744 non-null  object
 1    FLAG_OWN_CAR                  48744 non-null  object
 2    FLAG_OWN_REALTY               48744 non-null  object
 3    CNT_CHILDREN                  48744 non-null  int64
 4    AMT_INCOME_TOTAL              48744 non-null  float64
 5    NAME_INCOME_TYPE              48744 non-null  object
 6    NAME_EDUCATION_TYPE           48744 non-null  object
 7    NAME_FAMILY_STATUS            48744 non-null  object
 8    NAME_HOUSING_TYPE             48744 non-null  object
 9    REGION_POPULATION_RELATIVE    48744 non-null  float64
 10   DAYS_BIRTH                    48744 non-null  int64
 11   DAYS_EMPLOYED                 48744 non-null  int64
 12   DAYS_REGISTRATION             48744 non-null  float64
 13   DAYS_ID_PUBLISH               48744 non-null  int64
 14   OWN_CAR_AGE                   16432 non-null  float64
 15   FLAG_MOBIL                    48744 non-null  int64
 16   FLAG_EMP_PHONE                48744 non-null  int64
 17   FLAG_WORK_PHONE               48744 non-null  int64
 18   FLAG_CONT_MOBILE              48744 non-null  int64
 19   FLAG_PHONE                    48744 non-null  int64
 20   FLAG_EMAIL                    48744 non-null  int64
 21   OCCUPATION_TYPE               33139 non-null  object
 22   CNT_FAM_MEMBERS               48744 non-null  float64
 23   REGION_RATING_CLIENT          48744 non-null  int64
 24   REGION_RATING_CLIENT_W_CITY   48744 non-null  int64
 25   REG_REGION_NOT_LIVE_REGION    48744 non-null  int64
 26   REG_REGION_NOT_WORK_REGION    48744 non-null  int64
 27   LIVE_REGION_NOT_WORK_REGION   48744 non-null  int64
 28   REG_CITY_NOT_LIVE_CITY        48744 non-null  int64
 29   REG_CITY_NOT_WORK_CITY        48744 non-null  int64
 30   LIVE_CITY_NOT_WORK_CITY       48744 non-null  int64
 31   ORGANIZATION_TYPE             48744 non-null  object
 32   EXT_SOURCE_1                  28212 non-null  float64
 33   EXT_SOURCE_2                  48736 non-null  float64
 34   EXT_SOURCE_3                  40076 non-null  float64
 35   APARTMENTS_AVG                24857 non-null  float64
 36   BASEMENTAREA_AVG              21103 non-null  float64
 37   YEARS_BEGINEXPLUATATION_AVG   25888 non-null  float64
 38   YEARS_BUILD_AVG               16926 non-null  float64
 39   COMMONAREA_AVG                15249 non-null  float64
 40   ELEVATORS_AVG                 23555 non-null  float64
 41   ENTRANCES_AVG                 25165 non-null  float64
 42   FLOORSMAX_AVG                 25423 non-null  float64
 43   FLOORSMIN_AVG                 16278 non-null  float64
 44   LANDAREA_AVG                  20490 non-null  float64
 45   LIVINGAPARTMENTS_AVG          15964 non-null  float64
 46   LIVINGAREA_AVG                25192 non-null  float64
 47   NONLIVINGAPARTMENTS_AVG       15397 non-null  float64
 48   NONLIVINGAREA_AVG             22660 non-null  float64
 49   APARTMENTS_MODE               24857 non-null  float64
 50   BASEMENTAREA_MODE             21103 non-null  float64
 51   YEARS_BEGINEXPLUATATION_MODE  25888 non-null  float64
 52   YEARS_BUILD_MODE              16926 non-null  float64
 53   COMMONAREA_MODE               15249 non-null  float64
 54   ELEVATORS_MODE                23555 non-null  float64
 55   ENTRANCES_MODE                25165 non-null  float64
 56   FLOORSMAX_MODE                25423 non-null  float64
 57   FLOORSMIN_MODE                16278 non-null  float64
 58   LANDAREA_MODE                 20490 non-null  float64
 59   LIVINGAPARTMENTS_MODE         15964 non-null  float64
 60   LIVINGAREA_MODE               25192 non-null  float64
 61   NONLIVINGAPARTMENTS_MODE      15397 non-null  float64
 62   NONLIVINGAREA_MODE            22660 non-null  float64
 63   APARTMENTS_MEDI               24857 non-null  float64
 64   BASEMENTAREA_MEDI             21103 non-null  float64
 65   YEARS_BEGINEXPLUATATION_MEDI  25888 non-null  float64
 66   YEARS_BUILD_MEDI              16926 non-null  float64
 67   COMMONAREA_MEDI               15249 non-null  float64
 68   ELEVATORS_MEDI                23555 non-null  float64
 69   ENTRANCES_MEDI                25165 non-null  float64
 70   FLOORSMAX_MEDI                25423 non-null  float64
 71   FLOORSMIN_MEDI                16278 non-null  float64
 72   LANDAREA_MEDI                 20490 non-null  float64
 73   LIVINGAPARTMENTS_MEDI         15964 non-null  float64
 74   LIVINGAREA_MEDI               25192 non-null  float64
 75   NONLIVINGAPARTMENTS_MEDI      15397 non-null  float64
 76   NONLIVINGAREA_MEDI            22660 non-null  float64
 77   FONDKAPREMONT_MODE            15947 non-null  object
 78   HOUSETYPE_MODE                25125 non-null  object
 79   TOTALAREA_MODE                26120 non-null  float64
 80   WALLSMATERIAL_MODE            24851 non-null  object
 81   EMERGENCYSTATE_MODE           26535 non-null  object
 82   OBS_30_CNT_SOCIAL_CIRCLE      48715 non-null  float64
 83   DEF_30_CNT_SOCIAL_CIRCLE      48715 non-null  float64
 84   OBS_60_CNT_SOCIAL_CIRCLE      48715 non-null  float64
 85   DEF_60_CNT_SOCIAL_CIRCLE      48715 non-null  float64
 86   DAYS_LAST_PHONE_CHANGE        48744 non-null  float64
 87   FLAG_DOCUMENT_2               48744 non-null  int64
 88   FLAG_DOCUMENT_3               48744 non-null  int64
 89   FLAG_DOCUMENT_4               48744 non-null  int64
 90   FLAG_DOCUMENT_5               48744 non-null  int64
 91   FLAG_DOCUMENT_6               48744 non-null  int64
 92   FLAG_DOCUMENT_7               48744 non-null  int64
 93   FLAG_DOCUMENT_8               48744 non-null  int64
 94   FLAG_DOCUMENT_9               48744 non-null  int64
 95   FLAG_DOCUMENT_10              48744 non-null  int64
 96   FLAG_DOCUMENT_11              48744 non-null  int64
 97   FLAG_DOCUMENT_12              48744 non-null  int64
 98   FLAG_DOCUMENT_13              48744 non-null  int64
 99   FLAG_DOCUMENT_14              48744 non-null  int64
 100  FLAG_DOCUMENT_15              48744 non-null  int64
 101  FLAG_DOCUMENT_16              48744 non-null  int64
 102  FLAG_DOCUMENT_17              48744 non-null  int64
 103  FLAG_DOCUMENT_18              48744 non-null  int64
 104  FLAG_DOCUMENT_19              48744 non-null  int64
 105  FLAG_DOCUMENT_20              48744 non-null  int64
 106  FLAG_DOCUMENT_21              48744 non-null  int64
 107  AMT_REQ_CREDIT_BUREAU_HOUR    42695 non-null  float64
 108  AMT_REQ_CREDIT_BUREAU_DAY     42695 non-null  float64
 109  AMT_REQ_CREDIT_BUREAU_WEEK    42695 non-null  float64
 110  AMT_REQ_CREDIT_BUREAU_MON     42695 non-null  float64
 111  AMT_REQ_CREDIT_BUREAU_QRT     42695 non-null  float64
 112  AMT_REQ_CREDIT_BUREAU_YEAR    42695 non-null  float64
 113  CREDIT_ACTIVE                 48744 non-null  object
 114  CREDIT_CURRENCY               48744 non-null  object
 115  DAYS_CREDIT                   48744 non-null  int64
 116  CREDIT_DAY_OVERDUE            48744 non-null  int64
 117  DAYS_CREDIT_ENDDATE           45755 non-null  float64
 118  DAYS_ENDDATE_FACT             30686 non-null  float64
 119  AMT_CREDIT_MAX_OVERDUE        16179 non-null  float64
 120  CNT_CREDIT_PROLONG            48744 non-null  int64
 121  AMT_CREDIT_SUM                48744 non-null  float64
 122  AMT_CREDIT_SUM_DEBT           41426 non-null  float64
 123  AMT_CREDIT_SUM_LIMIT          31598 non-null  float64
 124  AMT_CREDIT_SUM_OVERDUE        48744 non-null  float64
 125  CREDIT_TYPE                   48744 non-null  object
 126  DAYS_CREDIT_UPDATE            48744 non-null  int64
 127  SK_ID_BUREAU                  48744 non-null  int64
 128  STATUS                        48744 non-null  object
 129  NAME_CONTRACT_TYPE            48744 non-null  object
 130  AMT_ANNUITY                   37806 non-null  float64
 131  AMT_APPLICATION               48744 non-null  float64
 132  AMT_CREDIT                    48744 non-null  float64
 133  AMT_DOWN_PAYMENT              22808 non-null  float64
 134  AMT_GOODS_PRICE               37291 non-null  float64
 135  WEEKDAY_APPR_PROCESS_START    48744 non-null  object
 136  HOUR_APPR_PROCESS_START       48744 non-null  int64
 137  FLAG_LAST_APPL_PER_CONTRACT   48744 non-null  object
 138  NFLAG_LAST_APPL_IN_DAY        48744 non-null  int64
 139  RATE_DOWN_PAYMENT             22808 non-null  float64
 140  RATE_INTEREST_PRIMARY         212 non-null    float64
 141  RATE_INTEREST_PRIVILEGED      212 non-null    float64
 142  NAME_CASH_LOAN_PURPOSE        48744 non-null  object
 143  DAYS_DECISION                 48744 non-null  int64
 144  NAME_PAYMENT_TYPE             48744 non-null  object
 145  CODE_REJECT_REASON            48744 non-null  object
 146  NAME_TYPE_SUITE               24840 non-null  object
 147  NAME_CLIENT_TYPE              48744 non-null  object
 148  NAME_GOODS_CATEGORY           48744 non-null  object
 149  NAME_PORTFOLIO                48744 non-null  object
 150  NAME_PRODUCT_TYPE             48744 non-null  object
 151  CHANNEL_TYPE                  48744 non-null  object
 152  SELLERPLACE_AREA              48744 non-null  int64
 153  NAME_SELLER_INDUSTRY          48744 non-null  object
 154  CNT_PAYMENT                   37806 non-null  float64
 155  NAME_YIELD_GROUP              48744 non-null  object
 156  PRODUCT_COMBINATION           48722 non-null  object
 157  DAYS_FIRST_DRAWING            29119 non-null  float64
 158  DAYS_FIRST_DUE                29119 non-null  float64
 159  DAYS_LAST_DUE_1ST_VERSION     29119 non-null  float64
 160  DAYS_LAST_DUE                 29119 non-null  float64
 161  DAYS_TERMINATION              29119 non-null  float64
 162  NFLAG_INSURED_ON_APPROVAL     29119 non-null  float64
 163  CNT_INSTALMENT                48669 non-null  float64
 164  CNT_INSTALMENT_FUTURE         48669 non-null  float64
 165  NUM_INSTALMENT_VERSION        48744 non-null  float64
 166  NUM_INSTALMENT_NUMBER         48744 non-null  int64
 167  DAYS_INSTALMENT               48744 non-null  float64
 168  DAYS_ENTRY_PAYMENT            48744 non-null  float64
 169  AMT_INSTALMENT                48744 non-null  float64
 170  AMT_PAYMENT                   48744 non-null  float64
 171  SK_ID_PREV                    48744 non-null  int64
 172  SK_ID_CURR                    48744 non-null  int64
 173  MONTHS_BALANCE                48744 non-null  int64
 174  AMT_BALANCE                   48744 non-null  float64
 175  AMT_CREDIT_LIMIT_ACTUAL       48744 non-null  int64
 176  AMT_DRAWINGS_ATM_CURRENT      39033 non-null  float64
 177  AMT_DRAWINGS_CURRENT          48744 non-null  float64
 178  AMT_DRAWINGS_OTHER_CURRENT    39033 non-null  float64
 179  AMT_DRAWINGS_POS_CURRENT      39033 non-null  float64
 180  AMT_INST_MIN_REGULARITY       44870 non-null  float64
 181  AMT_PAYMENT_CURRENT           38757 non-null  float64
 182  AMT_PAYMENT_TOTAL_CURRENT     48744 non-null  float64
 183  AMT_RECEIVABLE_PRINCIPAL      48744 non-null  float64
 184  AMT_RECIVABLE                 48744 non-null  float64
 185  AMT_TOTAL_RECEIVABLE          48744 non-null  float64
 186  CNT_DRAWINGS_ATM_CURRENT      39033 non-null  float64
 187  CNT_DRAWINGS_CURRENT          48744 non-null  int64
 188  CNT_DRAWINGS_OTHER_CURRENT    39033 non-null  float64
 189  CNT_DRAWINGS_POS_CURRENT      39033 non-null  float64
 190  CNT_INSTALMENT_MATURE_CUM     44870 non-null  float64
 191  NAME_CONTRACT_STATUS          48744 non-null  object
 192  SK_DPD                        48744 non-null  int64
 193  SK_DPD_DEF                    48744 non-null  int64
dtypes: float64(106), int64(55), object(33)
memory usage: 72.1+ MB

In [5]:
# Aliviando memoria
del df_auxiliar_bureau, df_auxiliar_bureau_balance, df_auxiliar_previous_application 
del df_auxiliar_POS_CASH_balance, df_auxiliar_installments_payments, df_auxiliar_credit_card_balances

In [14]:
# Verificando as colunas de treino
with open("attributes_train_100.txt", 'w') as file:
    for col in df_train.columns:
        file.write(col + "\n")

In [ ]:
# Verificando as colunas de teste
with open("attributes_test.txt", 'w') as file:
    for col in df_test.columns:
        file.write(col + "\n")